// import
@import 'module/destyle';
%__font-14 {
    font-size: 14px;
}

%__font-16 {
    font-size: 16px;
}

%__font-bold {
    font-weight: bold;
}

$breakpoints: (
  'sm': 'screen and (max-width: 599px)',
  'md': 'screen and (min-width: 600px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin media($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

#akeome {
    font-family: "解ミン 宙 B";
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    writing-mode: vertical-rl;
    font-size: 500%;
    letter-spacing: 1rem;
    filter: drop-shadow(6px 6px 6px rgb(0, 0, 0));
    
    @include media(md){
        top: 40px;
        left: 40px;
    }
    span[class*="display"] {
        opacity: 0;
    }
}